<div class="banner" id="bannercontainer">
    <div class="banner__background"></div>
      <div class="titles__container">
          <div class="title__inicio">
              <span class ="title__inicio-- frist">Hola!</span>
          </div>
          <div class="title__inicio">
              <span class ="title__inicio--" id="nombre">Soy {{person.nombre}} {{person.apellido}}</span>
          </div>
          <div class="title__inicio">
              <span class ="title__inicio-- second">Full Stack Developer Jr.</span>
          </div>
      </div>
    </div>
