<section class="about_contain">
    <div class="about">
        <div class="profile_image__container">
            <div class="profile_image">
                <div class="1">
                    <img src="../../../assets/perfil.png">
                </div>
            </div>
        </div>
        <div class="about_container">
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae voluptatibus porro architecto!
                Pariatur eum magni ipsam et repudiandae, perferendis ab dignissimos voluptatem eos quas quis. Quis
                explicabo odit rerum voluptas?</p>
        </div>
    </div>
</section>