<div class="projects" id="projectscontainer">
    <div class="banner__background"></div>
    <div class="container">
      <div class="card">
          <div class="face face1" id="card1">
              <div class="content">
                  <h3>Proyecto 1</h3>
              </div>
          </div>
          <div class="face face2">
              <div class="content">
                  <p>Este es mi primer proyecto esta disponible su Repositorio</p>
                  <a href="" type="button">Repositorio <i class="fa fa-github" aria-hidden="true"></i></a>
              </div>
          </div>
      </div>
      <div class="card">
          <div class="face face1">
              <div class="content">
              <h3></h3>
              </div>
          </div>
          <div class="face face2">
              <div class="content">
              <p>PROXIMAMENTE</p>
              </div>
          </div>
      </div>
      <div class="card">
          <div class="face face1">
              <div class="content">
              <h3></h3>
              </div>
          </div>
          <div class="face face2">
              <div class="content">
              <p>PROXIMAMENTE</p>
              </div>
          </div>
      </div>
      <div class="card">
          <div class="face face1">
              <div class="content">
              <h3></h3>
              </div>
          </div>
          <div class="face face2">
              <div class="content">
              <p>PROXIMAMENTE</p>
              </div>
          </div>
      </div>
      <div class="card">
          <div class="face face1">
              <div class="content">
              <h3></h3>
              </div>
          </div>
          <div class="face face2">
              <div class="content">
              <p>PROXIMAMENTE</p>
              </div>
          </div>
      </div>
      <div class="card">
          <div class="face face1">
              <div class="content">
              <h3></h3>
              </div>
          </div>
          <div class="face face2">
              <div class="content">
              <p>PROXIMAMENTE</p>
              </div>
          </div>
      </div>
  </div>
  </div>